/* Body styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

#outputDiv {
  display: flex !important;
  flex-wrap: wrap !important;
}

.wrapper {
  background-color: #cfdccf;
  margin: inherit;
  padding: inherit;
  border-radius: 0.5rem;
}

.output-div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: fit-content;
  flex-grow: 1; /* all boxes have the same width */
  margin: 5px; /* add some margin for spacing */
  box-sizing: border-box; /* include padding and border in width */
  min-width: 0; /* allow text to wrap inside the box */
}
.output-div:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.output-heading {
  font-weight: bold;
  margin-bottom: 5px;
}

.output-value span {
  width: 100px !important;
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 5px;
}

.output-value div:first-child {
  font-weight: 800;
  font-size: large;
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 700px;
  margin-bottom: 20px;
  width: -webkit-fill-available;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

/* Form styles */
form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-weight: bold;
  margin-right: 5px;
}

/* Button styles */
input[type="button"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Result textarea styles */
textarea[name="answer"] {
  width: 100%;
  height: 200px;
  resize: vertical;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Additional Styles */

/* Radio button styles */
input[type="radio"] + label {
  padding: 5px 10px;
  background-color: #ddd;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: #4caf50;
  color: #fff;
}

/* Input field styles */
input[type="text"],
textarea {
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #4caf50;
}

/* Button hover effect */
input[type="button"]:hover {
  background-color: #45a049;
}
